
#icon
{
    width: 5rem;
    height: auto;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 10px;
    padding-top: 10px;
    padding-bottom: 0%;
    padding-left: 0;
    
}
#bg-image
{
    height: 80%;
    width: 100%;
}



